.logo{
	margin: 10px 0 0 0;
	font-family: 'Cuprum', sans-serif;
	font-size: 24pt;
	font-weight: bold;
}
.reqcall{
	margin: 10px 0 0 0;
	font-family: 'Cuprum', sans-serif;
	font-size: 24pt;
	color: #008f32;
	font-weight: bold;
}
.logophone{
	font-family: 'Cuprum', sans-serif;
	font-size: 26pt;
	font-weight: bold;
}
nav{
	margin: 0 !important;
}
nav li a{
	color: #767676;
	font-family: 'Oswald', sans-serif;
	font-size: 20pt;
	padding: 15px 15px 15px 0 !important;
}
.sec1{
	background-image: url('../img/Background1.png');
	background-position: 50% 50%;
}
.sec1 .col-xs-6{
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form{
	height: 300px;
	
}
.head{
	height: 100px;
	background-color: #009032;
}